.comments-users 
  .container
    h1 BE A PART OF OUR
    h2 COMMUNITY
    .comments-show
      img(src="./imgs/landing/2.jpg")
      .comments
        h1
          span THEY’RE 
          |HAPPY
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              p Duis auctor elit a justo imperdiet, non maximus enim ornare. Fusce sed ornare eros aenean luctus turpis et pretium. Aliquam tempor lorem iaculis, porta elit at, lectus, donec ultrices, ipsum eu dictum rutrum, erat dui rhoncus magna, non blandit felis nunc nec nibh praesent aliquet mollis massa ac vulputate. Cras vel nunc et libero sodales aliquam nunc eget.
              .user-name
                img(src="./imgs/logo.png")
                span Ayam Zaman Clients
            </div>
            <div class="swiper-slide">
              p Duis auctor elit a justo imperdiet, non maximus enim ornare. Fusce sed ornare eros aenean luctus turpis et pretium. Aliquam tempor lorem iaculis, porta elit at, lectus, donec ultrices, ipsum eu dictum rutrum, erat dui rhoncus magna, non blandit felis nunc nec nibh praesent aliquet mollis massa ac vulputate. Cras vel nunc et libero sodales aliquam nunc eget.
              .user-name
                img(src="./imgs/logo.png")
                span Ayam Zaman Clients
            </div>
            <div class="swiper-slide">
              p Duis auctor elit a justo imperdiet, non maximus enim ornare. Fusce sed ornare eros aenean luctus turpis et pretium. Aliquam tempor lorem iaculis, porta elit at, lectus, donec ultrices, ipsum eu dictum rutrum, erat dui rhoncus magna, non blandit felis nunc nec nibh praesent aliquet mollis massa ac vulputate. Cras vel nunc et libero sodales aliquam nunc eget.
              .user-name
                img(src="./imgs/logo.png")
                span Ayam Zaman Clients
            </div>
            <div class="swiper-slide">
              p Duis auctor elit a justo imperdiet, non maximus enim ornare. Fusce sed ornare eros aenean luctus turpis et pretium. Aliquam tempor lorem iaculis, porta elit at, lectus, donec ultrices, ipsum eu dictum rutrum, erat dui rhoncus magna, non blandit felis nunc nec nibh praesent aliquet mollis massa ac vulputate. Cras vel nunc et libero sodales aliquam nunc eget.
              .user-name
                img(src="./imgs/logo.png")
                span Ayam Zaman Clients
            </div>
            <div class="swiper-slide">
              p Duis auctor elit a justo imperdiet, non maximus enim ornare. Fusce sed ornare eros aenean luctus turpis et pretium. Aliquam tempor lorem iaculis, porta elit at, lectus, donec ultrices, ipsum eu dictum rutrum, erat dui rhoncus magna, non blandit felis nunc nec nibh praesent aliquet mollis massa ac vulputate. Cras vel nunc et libero sodales aliquam nunc eget.
              .user-name
                img(src="./imgs/logo.png")
                span Ayam Zaman Clients
            </div>
          </div>
          <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>