<!-- start gallery-->
.gallery
  .container
    h1 Latest Product!
    h2 ARRIVALS
    .images-box
      - var images = ["pro1.jpg","pro2.jpg","pro1.jpg","pro2.jpg","pro1.jpg","pro2.jpg","pro1.jpg","pro2.jpg"]
      each img in images
        .gallery-info
          img(src="./imgs/item/"+img alt=img)
          h6 New Item Add
          span 16.00 EGP
          a(href="#") Select options
  .view-button
    a(href="#") View All Clothes
