<!--start landing page -->
.landing-page
  .overlay
  .container
    include ../header-page.pug
    .introduction-text
      h1 Welcome To <span>Ayam Zaman Store</span>
      p(id="text" data-text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.")  
      .landing-button
        button 
          a(href="product.html") Show Proudcts
        button 
          a(href="contact.html") Contact Withe Store
    .somze-down
      i(class="fas fa-angle-double-down")
  .button-top
    span Top <i class="fas fa-arrow-up"></i>

<!--end landing page -->