<!--start nav bulltes -->
.nav-bullets
  .bullet(data-section=".clothes-part")
    .tooltip Product Partation
  .bullet(data-section=".about-us")
    .tooltip About Us
  .bullet(data-section=".gallery")
    .tooltip Last Product
  .bullet(data-section=".comments-users")
    .tooltip COMMUNITY
  .bullet(data-section=".subscripe")
    .tooltip Subscripe
<!--end nav bulltes -->