<!--Start Clothes Part-->
.clothes-part
  .container
    .clothes
      .clothe
        a(href="product.html") BASICS
      .clothe
        a(href= "product.html") DRESS
      .clothe
        a(href="product.html") BODY
      .clothe
        a(href="product.html") JEANS
<!--end Clothes Part-->