.subscripe
  .container
    h1 
      span Subscribe 
      | Here?
    p Subscribe to Store for More new Fashtions and Discount
    form
      .message 
      input(type="email" name="emailToSub" placeholder="YOUR EMAIL" autocomplete="off")
      input(type="submit" disabled value="Submit")
      .check
        input(type="checkbox")
        label I agree that my submitted data is being collected and stored.

