.about-intro
  .container
    .about-compnent
      .img
      .info
        .text
          span our story
          span WELCOME TO
          span Ayam Zaman Store
        p Duis auctor elit, a justo non nec maxim enim ornare fusce sed ornare eros aenean fermentum luctus turpis et pretium aliquam tempor lorem iaculis, porta malesuada lectus, donec ultrices.