.contact
  .overlay
  .container
    h2 Send Your Message From Here
    .alert-masssge
      span
    form(action="")
      .left
        .form-input
          input(type="text" placeholder="Your Name" name="username" autocomplete="off" required)
          .icon
            <i class="fas fa-user"></i>
          span.astr *
        .form-input
          input(type="phone" placeholder="Your Phone" name="phone" autocomplete="off" required)
          .icon
            <i class="fas fa-mobile"></i>
          span.astr *
        .form-input
          input(type="email" placeholder="Your Email" name="email" autocomplete="off" required)
          .icon
            <i class="fas fa-at"></i>
          span.astr *
        .form-input
          input(type="text" placeholder="Subject" name="subject" autocomplete="off" required)
          .icon
            <i class="fas fa-heading"></i>
          span.astr *
      .right
        textarea(name="message" placeholder="Your Message" autocomplete="off" required)
        input(type="submit" value="Send")