.socail-media
  .container
    .socail-icons
      .icons
        a(href="https://ar-ar.facebook.com/Ayamzamanfashion/" target="_blank") <i class="fab fa-facebook-square"></i>
        span Facebook Page
        span Follow 
      .icons
        a(href="https://www.instagram.com/ayam_zaman_fashion/" target="_blank") <i class="fab fa-instagram"></i>
        span Instgram Page
        span Follow
      .icons
        a(href="https://g.page/Ayamzamanfashion?gm" target="_blank") <i class="fab fa-google"></i>
        span Google Search
        span Search
      .icons
        a(href="https://www.messenger.com/t/Ayamzamanfashion" target="_blank") <i class="fab fa-facebook-messenger"></i>
        span Messenger
        span Chat Now
      .icons.soon
        a <i class="fab fa-telegram-plane"></i>
        span Telegram Contact
        span SooN
      .icons.soon
        a <i class="fab fa-whatsapp"></i>
        span Wahts App Contact
        span SooN
      .icons
        a(href="https://jemy-galery.000webhostapp.com/dist/" target="_blank") <i class="fas fa-globe-europe"></i>
        span Web Site Contact
        span Visit Now