.product-review {
    padding-top: 50px;
    padding-bottom: 50px;
    .review-links {
        background-color: #f6f6f6;
        text-align: center;
        list-style: none;
        width: 100%;
        margin-bottom: 0;
        li {
            display: inline-block;
            background: rgb(255, 255, 255);
            margin: 10px;
            width: 130px;
            height: 35px;
            line-height: 35px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            &.active {
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(8, 8, 69, 0.7) 50%);
                color: #fff;
            }
        }
    }
    .view {
        border: 1px solid #f6f6f6;
        border-top: none;
        position: relative;
        height: 600px;
        .view-opactiy {
            opacity: 0;
            transition: 0.3s;
            position: absolute;
            &.active {
                opacity: 1;
                z-index: 1;
            }
        }
        .description {
            padding: 20px;
            p {
                line-height: 30px;
                font-size: 14px;
            }
        }
        .spec {
            width: 100%;
            table {
                width: 95%;
                margin: 20px auto;
                border-collapse: collapse;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    td {
                        border-bottom: 1px solid #f6f6f6;
                        padding: 10px;
                        font-weight: bold;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}