:root {
    --main--color: #4fb8ea;
}

body {
    font-family: 'Open Sans';
}

* {
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

@media(max-width:768px) {
    .container {
        overflow: hidden;
    }
}

@media(min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media(min-width:1350px) {
    .container {
        max-width: 1400px;
    }
}

// crate mixin for h1 and h2 and page
@mixin h1-mixin {
    font-size: 2em;
    margin-bottom: 5px;
    text-align: center;
}

@mixin h2-mixin {
    color: transparent !important;
    background: url(../imgs/last/bg_font.jpg) repeat;
    background-position: 40% 50%;
    background-clip: text;
    position: relative;
    font-size: 6.875em;
    line-height: 1.14em;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}