
- var pageTitle = 'Ayam Zaman Store -About';
- var intropage = "About US";
<!DOCTYPE html>
html(lang="en" translate="no")
  head
    include pug/layout/meta
    include pug/layout/style

  body

    include pug/components/header-page.pug
    include pug/components/intro.pug
    include pug/components/about/about-intro.pug
    include pug/components/index/about.pug
    include pug/components/index/comments.pug
    include pug/components/footer.pug
    include pug/components/loader.pug
    include pug/layout/script