- var pageTitle = 'Ayam Zaman Store -Contact US';
- var intropage = "Contact US";
<!DOCTYPE html>
html(lang="en" translate="no")
  head
    include pug/layout/meta
    include pug/layout/style

  body

    include pug/components/header-page.pug
    include pug/components/intro.pug
    include pug/components/contact/contact-form.pug
    include pug/components/index/subscripe.pug
    include pug/components/contact/socail.pug
    include pug/components/footer.pug
    include pug/components/loader.pug
    include pug/layout/script