- var pageTitle = 'Ayam Zaman Store';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/style
  body
    include pug/components/index/setting-box.pug
    include pug/components/index/nav-bulltes.pug
    include pug/components/index/landing.pug
    include pug/components/index/part.pug
    include pug/components/index/about.pug
    include pug/components/index/gallery.pug
    include pug/components/index/comments.pug
    include pug/components/index/subscripe.pug
    include pug/components/footer.pug
    include pug/layout/script