- var pageTitle = 'Ayam Zaman Store';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/style
  body
    include pug/components/setting-box.pug
    include pug/components/landing.pug
    include pug/components/part.pug
    include pug/components/about.pug
    include pug/components/gallery.pug
    include pug/layout/script