- var pageTitle = 'Ayam Zaman Store -Location Store';
- var intropage = "Location Store";
<!DOCTYPE html>
html(lang="en" translate="no")
  head
    include pug/layout/meta
    include pug/layout/style

  body

    include pug/components/header-page.pug
    include pug/components/intro.pug
    include pug/components/location/map.pug
    include pug/components/footer.pug
    include pug/components/loader.pug
    include pug/components/messenger.pug
    include pug/layout/script