- var pageTitle = 'Ayam Zaman Store -Product Deatails';
- var intropage = "Marc Jacobs Bag";
- var link = true;
- var anotherLink = "Products"
<!DOCTYPE html>
html(lang="en" translate="no")
  head
    include pug/layout/meta
    include pug/layout/style

  body
    #scrollTo
    include pug/components/header-page.pug
    include pug/components/intro.pug
    include pug/components/pro-det/product-deatails.pug
    include pug/components/pro-det/product-review.pug
    include pug/components/product/slider-product.pug
    include pug/components/footer.pug
    include pug/components/loader.pug
    include pug/components/messenger.pug
    include pug/layout/script