- var pageTitle = 'Ayam Zaman Store -Product Store';
- var intropage = "Product Store";
<!DOCTYPE html>
html(lang="en" translate="no")
  head
    include pug/layout/meta
    include pug/layout/style

  body

    include pug/components/header-page.pug
    include pug/components/intro.pug
    include pug/components/product/product-filter.pug
    include pug/components/product/slider-product.pug
    include pug/components/footer.pug
    include pug/components/loader.pug
    include pug/components/messenger.pug
    include pug/layout/script