.product-filter
  .container
    form.filter-item
      .filter-part
        .filter-content
          h1 CATEGORIES
          .categories
            .cate-input
              input(type="checkbox" name="body" id="body")
              label(for="body")
                span(class="cate-name") Body
                span(class="count-item") (2220)
            .cate-input
              input(type="checkbox" name="dress" id="dress")
              label(for="dress")
                span(class="cate-name") Dress
                span(class="count-item") (1500)
            .cate-input
              input(type="checkbox" name="basic" id="basic")
              label(for="basic")
                span(class="cate-name") Basics
                span(class="count-item") (800)
            .cate-input
              input(type="checkbox" name="jsb" id="jsb")
              label(for="jsb")
                span(class="cate-name") Jeans Body
                span(class="count-item") (5854)
            .cate-input
              input(type="checkbox" name="jsl" id="jsl")
              label(for="jsl")
                span(class="cate-name") Jeans Legs
                span(class="count-item") (1110)
      .filter-part
        .filter-content
          h1 FILTER BY SIZE
          .categories
            .cate-input
              input(type="checkbox" name="sma" id="sma")
              label(for="sma")
                span(class="cate-name") Small
            .cate-input
              input(type="checkbox" name="med" id="med")
              label(for="med")
                span(class="cate-name") Medium
            .cate-input
              input(type="checkbox" name="large" id="large")
              label(for="large")
                span(class="cate-name") Large
            .cate-input
              input(type="checkbox" name="xl" id="xl")
              label(for="xl")
                span(class="cate-name") x-Large
            .cate-input
              input(type="checkbox" name="xxl" id="xxl")
              label(for="xxl")
                span(class="cate-name") xx-Large
            .cate-input
              input(type="checkbox" name="xxxl" id="xxxl")
              label(for="xxxl")
                span(class="cate-name") xxx-Large
            .cate-input
              input(type="checkbox" name="xxxxl" id="xxxxl")
              label(for="xxxxl")
                span(class="cate-name") xxxx-Large
      .filter-part
        .filter-content
          h1 FILTER BY PRICE
          .categories
            .price-input
              span Start From :
              input(type="number" name="price-start" min=25 max=5000 value=25)
              span EGP
            .price-input
              span End                                        To :
              input(type="number" name="price-end" min=25 max=5000 value=200)
              span EGP
      .submit-button-filter
        input(type="submit" value="Filter")
    .product-item
      form.product-sort
        h1 Store All
        .sort-input
          select
            option(value="0" disabled selected) Sort BY
            option(value="a-z") Name, A to Z
            option(value="z-a") Name, Z to A
            option(value="l-h") Price, Low to High
            option(value="h-l") Price, High to Low
      .show-product-item
        a(class="item" href="#").item-sale
          .img
            img(src="./imgs/item/pro1.jpg")
          .info
            h1 Marc Jacobs Bag
            h4 Summer Collection
            .price
              span 55 EGP
              span.sale 85 EGP 
        a(class="item" href="#")
          .img
            img(src="./imgs/item/pro2.jpg")
          .info
            h1 Marc Jacobs Bag
            h4 Summer Collection
            .price
              span 55 EGP
              span.sale
        a(class="item" href="#").item-sale
          .img
            img(src="./imgs/item/pro1.jpg")
          .info
            h1 Marc Jacobs Bag
            h4 Summer Collection
            .price
              span 55 EGP
              span.sale 85 EGP 
        a(class="item" href="#").item-sale
          .img
            img(src="./imgs/item/pro2.jpg")
          .info
            h1 Marc Jacobs Bag
            h4 Summer Collection
            .price
              span 55 EGP
              span.sale 65 EGP
        a(class="item" href="#")
          .img
            img(src="./imgs/item/pro2.jpg")
          .info
            h1 Marc Jacobs Bag
            h4 Summer Collection
            .price
              span 55 EGP
              span.sale
        a(class="item" href="#")
          .img
            img(src="./imgs/item/pro2.jpg")
          .info
            h1 Marc Jacobs Bag
            h4 Summer Collection
            .price
              span 55 EGP
              span.sale
      .pagenation-product
        .pagenation
          a(href="#").prev
            <i class="fas fa-chevron-left"></i>
          .pages
            a(href="#" class="active") 1
            a(href="#") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") 5
            a(href="#") 6
            a(href="#") 7
            a(href="#") 8
          a(href="#").next
            <i class="fas fa-chevron-right"></i>

