<!-- Swiper -->
.slider-product
  .container
    h1 Most Popular Product
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          a(class="item" href="#").item-sale
            .img
              img(src="./imgs/item/pro1.jpg")
            .info
              h1 Marc Jacobs Bag
              h4 Summer Collection
            .price
              span 55 EGP
              span.sale 85 EGP 
        .swiper-slide
          a(class="item" href="#").item-sale
            .img
              img(src="./imgs/item/pro2.jpg")
            .info
              h1 Marc Jacobs Bag
              h4 Summer Collection
            .price
              span 55 EGP
              span.sale 85 EGP 
        .swiper-slide
          a(class="item" href="#")
            .img
              img(src="./imgs/item/pro1.jpg")
            .info
              h1 Marc Jacobs Bag
              h4 Summer Collection
            .price
              span 55 EGP
              span.sale
        .swiper-slide
          a(class="item" href="#").item-sale
            .img
              img(src="./imgs/item/pro2.jpg")
            .info
              h1 Marc Jacobs Bag
              h4 Summer Collection
            .price
              span 55 EGP
              span.sale 85 EGP 
        .swiper-slide
          a(class="item" href="#").item-sale
            .img
              img(src="./imgs/item/pro1.jpg")
            .info
              h1 Marc Jacobs Bag
              h4 Summer Collection
            .price
              span 55 EGP
              span.sale 85 EGP 
      <!-- Add Arrows -->
        .swiper-button-next
        .swiper-button-prev
