.counter {
    background-image: url("../imgs/counter.jpg");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 50vh;
    .overlay {
        background-color: rgba($color: #000000, $alpha: 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    h2 {
        text-align: center;
        color: #fff;
        font-size: 35px;
    }
    .counter-item {
        padding: 10px;
        display: flex;
        width: 100%;
        margin: 50px auto;
        transition: 3s;
        opacity: 0;
        .counter-element {
            transition: 0.3s;
            text-align: center;
            border-radius: 10px;
            width: 20%;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            span {
                display: block;
                i {
                    width: 60px;
                    height: 60px;
                    font-size: 40px;
                    color: var(--main--color);
                }
                &:nth-of-type(2) {
                    line-height: 30px;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            .count {
                line-height: 40px;
                font-weight: bold;
                font-size: 30px;
                &.per {
                    &::after {
                        content: "%";
                    }
                }
            }
        }
    }
}

@media(min-width: 0) and (max-width: 320px) {
    .counter {
        background-image: url("../imgs/counter.jpg");
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 80vh;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 22px;
        }
        .counter-item {
            padding: 5px;
            display: block;
            width: 100%;
            margin: 5px;
            .counter-element {
                transition: 0.3s;
                text-align: center;
                border-radius: 10px;
                width: 50%;
                margin: 10px auto;
                padding: 10px;
                span {
                    display: block;
                    i {
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                    }
                    &:nth-of-type(2) {
                        line-height: 15px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .count {
                    line-height: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media(min-width: 321px) and (max-width: 380px) {
    .counter {
        background-image: url("../imgs/counter.jpg");
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 80vh;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 22px;
        }
        .counter-item {
            padding: 5px;
            display: block;
            width: 100%;
            margin: 5px;
            .counter-element {
                transition: 0.3s;
                text-align: center;
                border-radius: 10px;
                width: 50%;
                margin: 10px auto;
                padding: 10px;
                span {
                    display: block;
                    i {
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                    }
                    &:nth-of-type(2) {
                        line-height: 15px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .count {
                    line-height: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width: 381px) and (max-width: 480px) {
    .counter {
        background-image: url("../imgs/counter.jpg");
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 80vh;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 22px;
        }
        .counter-item {
            padding: 5px;
            display: block;
            width: 100%;
            margin: 5px;
            .counter-element {
                transition: 0.3s;
                text-align: center;
                border-radius: 10px;
                width: 50%;
                margin: 10px auto;
                padding: 10px;
                span {
                    display: block;
                    i {
                        width: 30px;
                        height: 30px;
                        font-size: 22px;
                    }
                    &:nth-of-type(2) {
                        line-height: 16px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .count {
                    line-height: 20px;
                    font-size: 22px;
                }
            }
        }
    }
}

@media(min-width: 481px) and (max-width: 572px) {
    .counter {
        background-image: url("../imgs/counter.jpg");
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 80vh;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 25px;
        }
        .counter-item {
            padding: 5px;
            display: block;
            width: 100%;
            margin: 5px;
            .counter-element {
                transition: 0.3s;
                text-align: center;
                border-radius: 10px;
                width: 50%;
                margin: 10px auto;
                padding: 10px;
                span {
                    display: block;
                    i {
                        width: 30px;
                        height: 30px;
                        font-size: 22px;
                    }
                    &:nth-of-type(2) {
                        line-height: 16px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .count {
                    line-height: 20px;
                    font-size: 22px;
                }
            }
        }
    }
}

@media(min-width: 573px) and (max-width: 767px) {
    .counter {
        background-image: url("../imgs/counter.jpg");
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: 80vh;
        h2 {
            text-align: center;
            color: #fff;
            font-size: 30px;
        }
        .counter-item {
            padding: 5px;
            display: block;
            width: 100%;
            margin: 5px;
            .counter-element {
                transition: 0.3s;
                text-align: center;
                border-radius: 10px;
                width: 30%;
                margin: 10px auto;
                padding: 10px;
                span {
                    display: block;
                    i {
                        width: 30px;
                        height: 30px;
                        font-size: 25px;
                    }
                    &:nth-of-type(2) {
                        line-height: 20px;
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
                .count {
                    line-height: 20px;
                    font-size: 22px;
                }
            }
        }
    }
}