.header-area {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    transition: 0.5s;
    &.header-fixed {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #fff, $alpha: 0.9);
        border-bottom: 2px solid #f6f6f6;
        z-index: 10;
        .logo {
            width: 25%;
            text-align: center;
            padding: 5px;
        }
        .links-container {
            width: 70%;
            padding: 0;
            .links {
                padding: 10px;
                li {
                    a {
                        color: #333;
                        &::before,
                        &::after {
                            border-color: var(--main--color);
                        }
                        span {
                            &::before,
                            &::after {
                                border-color: var(--main--color);
                            }
                        }
                    }
                    .sub-list-menu {
                        top: 60px;
                        border: 1px solid #f6f6f6;
                    }
                }
            }
            .toggle-links {
                color: #333;
                margin-top: 24px;
            }
        }
    }
    .logo {
        width: 300px;
        padding: 15px;
        text-align: left;
        a {
            text-decoration: none;
            img {
                position: relative;
                border-radius: 50%;
                width: 70px;
                left: 0%;
            }
        }
    }
    .links-container {
        width: 100%;
        text-align: right;
        .links {
            .links-close {
                display: none;
            }
            list-style: none;
            width: 100%;
            text-align: right;
            padding-top: 25px;
            padding-left: 0;
            font-size: 15px;
            font-weight: bold;
            li {
                position: relative;
                display: inline-block;
                .sub-list-menu {
                    position: absolute;
                    width: 200px;
                    top: 30px;
                    padding: 10px;
                    background-color: #fff;
                    text-align: left;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                    &:hover {
                        visibility: visible;
                        opacity: 1;
                    }
                    a {
                        color: #333;
                        display: block;
                        border: none;
                        margin: 5px;
                        padding: 5px;
                        &::after {
                            border: none;
                        }
                        &::before {
                            border: none;
                        }
                        &:hover {
                            color: var(--main--color);
                        }
                        span {
                            &::after {
                                border: none;
                            }
                            &::before {
                                border: none;
                            }
                        }
                    }
                }
                a {
                    cursor: pointer;
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.3s;
                    position: relative;
                    padding: 10px;
                    &::before {
                        width: 5px;
                        height: 5px;
                        background: transparent;
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 0;
                        border-right: 2px solid white;
                        border-top: 2px solid white;
                        transition: 0.3s;
                        opacity: 0;
                    }
                    &::after {
                        width: 5px;
                        height: 5px;
                        background: transparent;
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border-left: 2px solid white;
                        border-bottom: 2px solid white;
                        transition: 0.3s;
                        opacity: 0;
                    }
                    span {
                        &::before {
                            width: 5px;
                            height: 5px;
                            background: transparent;
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            border-top: 2px solid white;
                            border-left: 2px solid white;
                            transition: 0.3s;
                            opacity: 0;
                        }
                        &::after {
                            width: 5px;
                            height: 5px;
                            background: transparent;
                            content: "";
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            border-right: 2px solid white;
                            border-bottom: 2px solid white;
                            transition: 0.3s;
                            opacity: 0;
                        }
                    }
                    &:hover {
                        color: var(--main--color);
                        padding: 5px;
                        margin: 5px;
                        &::before {
                            opacity: 1;
                        }
                        &::after {
                            opacity: 1;
                        }
                        span {
                            &::before {
                                opacity: 1;
                            }
                            &::after {
                                opacity: 1;
                            }
                        }
                        &+.sub-list-menu {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    &.active {
                        color: var(--main--color);
                    }
                }
            }
        }
        .toggle-links {
            background: none;
            border: none;
            width: 40px;
            outline: none;
            margin-top: 30px;
            color: #fff;
            font-size: 25px;
            display: none;
            i {
                cursor: pointer;
            }
        }
    }
}

@media(max-width:991px) {
    .header-area {
        &.header-fixed {
            .links-container {
                .links {
                    li {
                        .sub-list-menu {
                            position: relative;
                            width: auto;
                            top: 0px;
                            opacity: 1;
                            visibility: visible;
                            border: none;
                        }
                    }
                }
            }
        }
        .logo {
            padding: 5px;
        }
        .links-container {
            .links {
                background-color: #fff;
                display: block;
                position: fixed;
                height: 100vh;
                width: 50%;
                top: 0;
                margin: 0;
                right: -50%;
                border: 2px solid #f6f6f6;
                text-align: left;
                padding: 0;
                z-index: 4;
                transition: 0.3s;
                .links-close {
                    display: block;
                    width: 100%;
                    color: #333;
                    text-align: right;
                    i {
                        width: 60px;
                        height: 30px;
                        padding: 10px;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
                li {
                    display: block;
                    margin-bottom: 10px;
                    padding: 5px;
                    a {
                        color: #333;
                        border: none;
                        &.active {
                            color: var(--main--color);
                        }
                    }
                }
                &.open {
                    right: 0%;
                    .sub-list-menu {
                        position: relative;
                        width: auto;
                        top: 0px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .toggle-links {
                display: inline-block;
            }
        }
    }
}