.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 60px;
    .bullet {
        width: 15px;
        height: 15px;
        background-color: var(--main--color);
        border: 3px solid var(--main--color);
        margin: 15px auto;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        &:hover {
            .tooltip {
                display: block;
            }
        }
        .tooltip {
            background-color: var(--main--color);
            width: 140px;
            color: #fff;
            padding: 8px 10px;
            position: absolute;
            right: 32px;
            top: -10px;
            font-size: 14px;
            text-align: center;
            border-radius: 5px;
            cursor: default;
            pointer-events: none;
            display: none;
            &::before {
                content: " ";
                border: 10px solid;
                border-color: transparent transparent transparent var(--main--color);
                height: 0;
                width: 0;
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

@media(max-width:991px) {
    .nav-bullets {
        width: 50px;
        .bullet {
            width: 10px;
            height: 10px;
            margin: 10px auto;
            &:hover {
                .tooltip {
                    display: none;
                }
            }
        }
    }
}