<!--start mini about us-->
.container
  .about-us
    h1 INSPIRED BY YOUR
    h2 PASSION
    .info-box
      .counter-info
        h3 what you need
        h4
          span TO KNOW 
          |ABOUT US
        p Duis auctor elit a justo imperdiet, non maximus enim ornare. Fusce sed ornare eros aenean luctus turpis et pretium. Aliquam tempor lorem iaculis, porta elit at, lectus, donec ultrices, ipsum eu dictum rutrum, erat dui rhoncus magna, non blandit felis nunc nec nibh praesent aliquet mollis massa ac vulputate. Cras vel nunc et libero sodales aliquam nunc eget.
        .counter-about
          .counter-item
            .count(data-target="5000") 0
            span HAPPY CLIENTS
          .counter-item
            .count(data-target="1324") 0
            span AMAZING CLOTHES
          .counter-item
            .count.per(data-target="70") 0
            span Discount All Year
        .about-icon
          <i class="fas fa-store"></i>
          <i class="fas fa-cart-arrow-down"></i>
          <i class="fas fa-person-booth"></i>
          <i class="fas fa-tshirt"></i>
      .image-box
        img(src="./imgs/about/4fb8ea.png")
<!--end mini about us-->