.counter
  .overlay
    .container
      h2 Our Feautre
      .counter-item
        .counter-element
          span
            i.fa.fa-comments
          span Comments
          .count(data-target="1000") 0
        .counter-element
          span
            i.fa.fa-users
          span Vistor's
          .count(data-target="5000") 0
        .counter-element
          span
            i.fa.fa-tshirt
          span Fashion Model
          .count(data-target="3000") 0
        .counter-element
          span
            i.fa.fa-percent
          span Discount
          .count.per(data-target="70") 0
