.footer-page
  .container
    .footer-info
      .worktime
        h2 
          span Store 
          |Info
        .info
          .mobile
            span 
              i.fas.fa-mobile
            span 01118003616 - 01118003234 - 01111932135
          .address
            span
              i.fas.fa-map-marker-alt
            span Cairo - Helwan intersection with Sharif on Street, Riyadh Street, behind Dahab, Israa Tower Mall 
          .timework
            h6 Store Working hours <i class="far fa-clock"></i>
            .day
              span Sat
              p 9:00 Am / 11:00 PM
            .day
              span Sun
              p  9:00 Am / 11:00 PM
            .day
              span Mon
              p 9:00 Am / 11:00 PM
            .day
              span Tue
              p 9:00 Am / 11:00 PM
            .day
              span Wed
              p 9:00 Am / 11:00 PM
            .day
              span Thu
              p 9:00 Am / 11:00 PM
            .day
              span Fri
              p 9:00 Am / 11:00 PM
      .socailmedia
        h2 
          span Follow  
          |Us
        .socail
          h6 Let us be social
          .socail-icon
            a(href="https://ar-ar.facebook.com/Ayamzamanfashion/" target="_blank")
              <i class="fab fa-facebook-f"></i>
            a(href="https://www.instagram.com/ayam_zaman_fashion/" target="_blank")
              <i class="fab fa-instagram"></i>
            a(href="" target="_blank")
              <i class="fab fa-telegram-plane"></i>
            a(href="https://g.page/Ayamzamanfashion?gm" target="_blank")
              <i class="fab fa-google"></i>
        h6 
          span FOLLOW US  
          | ON INSTAGRAM
        .insta-imge
          a(href="https://www.instagram.com/p/BrW6duABm6l/?utm_source=ig_web_copy_link" target="_blank" data-background = "https://www.instagram.com/p/BrW6duABm6l/media?size=t")
          a(href="https://www.instagram.com/p/BrW6cg0hdtv/?utm_source=ig_web_copy_link" target="_blank" data-background = "https://www.instagram.com/p/BrW6cg0hdtv/media?size=t")
          a(href="https://www.instagram.com/p/BrW6OgfBEom/?utm_source=ig_web_copy_link" target="_blank" data-background = "https://www.instagram.com/p/BrW6OgfBEom/media?size=t")
          a(href="https://www.instagram.com/p/BrW5mXtBm5R/?utm_source=ig_web_copy_link" target="_blank" data-background = "https://www.instagram.com/p/BrW5mXtBm5R/media?size=t")
          a(href="https://www.instagram.com/p/BrW6duABm6l/?utm_source=ig_web_copy_link" target="_blank" data-background = "https://www.instagram.com/p/BrW6duABm6l/media?size=t")
          a(href="https://www.instagram.com/p/BrW6duABm6l/?utm_source=ig_web_copy_link" target="_blank" data-background = "https://www.instagram.com/p/BrW6duABm6l/media?size=t")

      .location
        h2 
          span FIND   
          |YOUR STORE
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13842.05387103812!2d31.3362402!3d29.8494624!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583706d1eac963%3A0x809300ba23a723ee!2z2LPZhtiq2LHYo9mK2KfZhSDYstmF2KfZhiDZhNmE2YXZhNin2KjYsyDYp9mE2K3YsdmK2YXZig!5e0!3m2!1sar!2seg!4v1589376314090!5m2!1sar!2seg" width="400" height="300" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>