<!-- start gallery-->
.gallery
  .container
    h1 Latest Product!
    h2 ARRIVALS
    .images-box
      - var images = ["1.jpeg","2.jpeg","3.jpeg","4.jpeg","6.jpeg","7.jpeg","8.jpeg","9.jpeg"]
      each img in images
        .gallery-info
          img(src="./imgs/last/"+img alt=img)
          h6 New Item Add
          span 16.00 EGP
          a(href="#") Select options
  .view-button
    a(href="#") View All Clothes
