<!-- start gallery-->
.gallery
  .container
    h2 Latest Product
    .images-box
      - var images = ["1.jpeg","2.jpeg","3.jpeg","4.jpeg","5.jpeg","6.jpeg","7.jpeg","8.jpeg","9.jpeg","10.jpeg"]
      each img in images
        img(src="./imgs/last/"+img alt=img)
.map
  .container
    h2 Store Location
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d432.56387276033655!2d31.336214519011705!3d29.849534117654816!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583706d1eac963%3A0x809300ba23a723ee!2z2LPZhtiq2LHYo9mK2KfZhSDYstmF2KfZhiDZhNmE2YXZhNin2KjYsyDYp9mE2K3YsdmK2YXZig!5e0!3m2!1sen!2seg!4v1588886316241!5m2!1sen!2seg" width="auto" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>