.header-area
  .logo 
    a(href="index.html")
      img(src="./imgs/logo.png")
  .links-container
    ul.links
      .links-close
        <i class="fas fa-times"></i>
      li 
        a(href="index.html" data-page="Home")
          span Home
      li 
        a(href="about.html" data-page="About") 
          span About
      li 
        a(href="#" data-page="Collections") 
          span Collections
      li 
        a(href="product.html" data-page="Product Store")
          span Proudcts
      li 
        a(href="contact.html" data-page="Contact US")
          span Contact Us
      li 
        a(href="location.html" data-page="Location Store")
          span Location
      li 
        a(href="#")
          span FaQ
    .toggle-links
      <i class="fas fa-bars"></i>