<!--start landing page -->
.landing-page
  .overlay
  .header-area
    .logo 
      a(href="#")
        img(src="./imgs/logo.png")
    ul.links
      li 
        a.active(href="#") About
      li 
        a(href="#") Proudcts
      li 
        a(href="#") Contact Us
      li 
        a(href="#") Services
  .introduction-text
    h1 Welcome To <span>Ayam Zaman Store</span>
    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
    .landing-button
      button Show Proudcts
      button Contact Withe Store
  .somze-down
    i(class="fas fa-angle-double-down")

<!--end landing page -->