<!--start landing page -->
.landing-page
  .overlay
  .header-area
    .logo 
      a(href="#")
        img(src="./imgs/logo.png")
    .links-menu
      i.fas.fa-bars
    ul.links
      .icon
        i.fas.fa-times
      li 
        a.active(href="#")
          span Home
      li 
        a(href="#") 
          span About
      li 
        a(href="#")
          span Proudcts
      li 
        a(href="#")
          span Contact Us
      li 
        a(href="#")
          span Services
      li 
        a(href="#")
          span Location
      li 
        a(href="#")
          span FaQ
  .introduction-text
    h1 Welcome To <span>Ayam Zaman Store</span>
    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
    .landing-button
      button Show Proudcts
      button Contact Withe Store
  .somze-down
    i(class="fas fa-angle-double-down")

<!--end landing page -->