<!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>

div(class="fb-customerchat" attribution=setup_tool page_id="155546385249892" logged_in_greeting="مرحبا بيك يا فندم كيف ممكن اساعدك" logged_out_greeting="مرحبا بيك يا فندم كيف ممكن اساعدك")