<!--Start Clothes Part-->
.clothes-part
  .container
    .clothes
      .clothe
        a(href="#") BASICS
      .clothe
        a(href= "#") DRESS
      .clothe
        a(href="#") BODY
      .clothe
        a(href="#") JEANS
<!--end Clothes Part-->